html {font-size:10px;}
body {
    color: #FCFCFC;
    margin: 0;
    font-size: 0.75rem;
    background: 
    	linear-gradient(90deg, rgba(102,114,129,1), rgba(60,67,78,1));
    font-weight: 400;
    line-height: 1;
    background-color: rgba(60,67,78,1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align:center;
    font-family:'Montserrat', Arial, sans-serif;
    font-weight:300;
    font-size:1.9rem;
    line-height:1.5em;
}
.logo {text-align:center;display:block;}
.logo img {max-height:220px;width:auto;}
.video {
	position:fixed;
	top:0;
	bottom:0;
	left:50%;
	-moz-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	height:100%;
	width:auto;
	z-index:-1;
}
video {
	mix-blend-mode: overlay;
}
video { filter: grayscale(1); opacity:0.05;}


.price {
	background: 
    	linear-gradient(90deg, rgba(247,199,117,1), rgba(204,165,81,1));
    font-weight: 400;
    line-height: 1;
    background-color: rgba(247,199,117,1);
    position:fixed;
    bottom:0;
    lefT:0;
    right:0;
    z-index:10000;
    padding:7px 0;

}
.price h3 {font-weight:900 !important;margin-top:3px;margin-bottom:4px !important;display:block;}
.price p {
	color:rgba(60,67,78,1);
}
.container {
	max-width:1400px;
	margin:0 auto;
}

h1,h2 {
	font-family:'Montserrat', cursive;
	font-weight:900;
	font-size:5rem;
}

a.button {
    display:inline-block;
    margin:5px;
	padding:15px 30px;
	border-radius:100px;
	background:#F7C775;
	color:#3C434E;
	text-decoration: none;
}
a.button:hover {

	padding:15px 30px;
	border-radius:100px;
	background:#fff;
	color:#3C434E;
	text-decoration: none;
}

.hero {
	height:100vh;
	position:relative;
}
.hero .container {
	position:absolute;
	left:0;
	right:0;
	top:50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hero h2 {font-size:60px;}
.header ul {text-align:right;margin:0;margin-top:10px;}

.header ul li {

	list-style-type:none;
	displaY:inline-block;
	margin:0;
}
.header ul li a {
	padding:5px 10px;
	font-weight:900;
	text-transform: uppercase;
	display:block;
	color:#fff;
	font-size:2rem;
}
.header ul li a:hover {
	text-decoration:none;
	color:#F7C775;
}
.header {position:fixed;
lefT:0;
right:0;
top:10px;
padding:10px;
z-index:5000;
}

img {max-width:100%;height:auto;}

.content {padding:50px;}
.content h3 {color:#F7C775;}
.content h3 span {
	display:inline-block;
	margin-right:20px;
	background:url(circle.png) no-repeat;
	background-size:auto 100%;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;

}

h2.big {
	text-align:center;
	font-size:60px;
	line-height:100px;
	margin:40px auto;
	position:relative;
	display:inline-block;

}

.hero h2 {
	margin:30px 0;

}
.hero .container {
	max-width:1000px;
}
.hero p {margin-bottom:30px;}


.align-items {
	text-align:left;
	align-items:center;
}

.content-img {text-align:center;}

.align-items img {max-height:450px;}

.container {overflow:hidden;}

.join .col-4 a {
	background:#F7C775;
	color:#3C434E;
	display:block;
	padding:100px 0;
}

.community {padding:100px 0;}
.partnership {margin-bottom:100px;}



.social svg {font-size:60px;}
.social a {
	display:inline-block;
	padding:30px;
	color:#F7C775;
	margin:0 40px;
}
.social a:hover {color:#fff;}




.community {position:relative;}

@media (max-width:1100px) {
    
.social a {margin:0 10px;font-size:30px;}
}

@media (max-width:800px) {
	h1,h2 {font-size:3rem;}
	.logo img {max-height:150px;}
	.hero h2, h2.big {
		font-size:40px;
	}
	.align-items img {max-height:300px;}
	body {font-size:1.4rem;}
	.social svg {
    font-size: 30px;
}
.values {
	max-width:33.33%;
	flex: 0 0 33.33%;
	padding:0 !important;
}
.price .row {margin:0 !important;}
.value-2, .value-5 {display:none !important;}
.value-1, .value-3 {max-width:28%; flex:0 0 28%;}
.value-4 {max-width:44%; flex: 0 0 44%;}
.social a {margin:0 10px;font-size:25px;}
}

@media (max-width:600px) {
	.content {padding:50px 10px;}
	.h3, h3 {
    font-size: 1.25rem;
}.content h3 span {
    display: inline-block;
    margin-right: 6px;
    background: url(circle.png) no-repeat;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.social a {margin:0;font-size:25px; padding:15px;}
}
@media (max-width:460px) {
	h1,h2 {font-size:2.7rem;}
	.logo img {max-height:100px;}
	.hero h2, h2.big {
		font-size:30px;
		line-height:45px;
	}
	.align-items img {max-height:270px;}
	body {font-size:1.3rem;}
	.social svg {
    font-size: 20px;
}
.content {padding:40px 0;}
}

